<div>
  <div>
    <h2 class="d-inline-block"><%= lift_workout.lift.name %></h2>
    <h2 class="float-right d-inline-block"><%= lift_workout.formatted_weight %></h2>
  </div>
  <div class="row">
    <%= render partial: 'set_card', collection: lift_workout.rep_count, as: :set, locals: { form: form }%>
  </div>
</div>
