<div>
  <div>
    <h2 class="d-inline-block"><%= lift_workout.lift.name %></h2>
    <h2 class="float-right d-inline-block"><%#= lift_workout.formatted_weight %></h2>
  </div>
  <div class="row">
    <!-- fix what we pass in -->
    <!-- sized list - may need to rework model -->
    <%= render partial: 'set_card', collection: lift_workout.sized_list(5), as: :set, locals: { form: form, lift_workout_id: lift_workout.id }%>
  </div>
</div>
