<div class="col mx-2">
  <button class="btn btn-primary w-100 rep_count_button" data-set-id="<%= set_counter + 1 %>" data-lift-workout-id="<%= lift_workout_id %>" type="button"><%= set || '-' %></button>
</div>
