<div class="col mx-2">
  <button class="btn btn-primary w-100 rep_count_button" type="button"><%= set || '-' %></button>
  <%= hidden_field_tag "workout[rep_counts][#{lift_workout_id}][#{set_counter + 1}]", set %>
</div>
