<%= javascript_pack_tag "workouts/index_page" %>

<p id="notice"><%= notice %></p>

<h1 class="text-center display-1">Workout History</h1>

<%= button_to 'New Workout', new_workout_path, :class => "btn btn-primary", :method => :get  %>

<div class="container-fluid">
  <%= render partial: 'workout', collection: @workouts %>
</div>
